$stretched-link-z-index:            1 !default;
$badge-padding-y:                   .35em !default;
$badge-padding-x:                   .65em !default;
$badge-dismissible-padding-r:       $badge-padding-x * 3 !default; // 3x covers width of x plus default padding on either side

.badge {
  position: relative;
}

.badge-dismissable {
  padding-right: $badge-dismissible-padding-r;

  // Adjust close link position
  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $stretched-link-z-index + 1;
    padding: $badge-padding-y $badge-padding-x * .77;
  }
}
